<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Color tools</title>

    <%- include(rootPath + '/common/ejs/head-link-end-script'); %>
</head>
<body x-data :data-bs-theme="$store.theme.value">

<%- include(rootPath + '/common/ejs/nav-bar-with-data') %>

<div class="container pt-5">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2">
        <%- include(rootPath + '/common/ejs/list-tools'); %>
    </div>
</div>

<script src="/common/js/index.js"></script>
</body>
</html>