<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Color tools</title>

    <%- include(rootPath + '/common/ejs/head-link-end-script'); %>
</head>
<body x-data :data-bs-theme="$store.theme.value">

<nav class="navbar navbar-expand-lg border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="bi bi-tools"></i>
            NT Tools
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Colors</a>
                </li>
            </ul>
            <span x-data="{isDark: $store.theme.value === 'dark'}">
        <button
                :class="{'btn btn-light': !isDark, 'btn btn-dark': isDark}"
                x-data @click="() => {$store.theme.toggle(); isDark = !isDark}">
          <i class="bi bi-brightness-high-fill"
             x-data x-show="!isDark"></i>
          <span x-data x-show="!isDark">
            Light
          </span>

          <i class="bi bi-moon-stars-fill"
             x-data x-show="isDark"></i>
          <span x-data x-show="isDark">
            Dark
          </span>
        </button>
      </span>
        </div>
    </div>
</nav>

<div class="container pt-5">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2">
        <%- include(rootPath + '/common/ejs/list-tools'); %>
    </div>
</div>

<script src="/common/js/index.js"></script>
</body>
</html>