<% if (!navbarLinks) {
    var navbarLinks = [];
} %>

<nav class="navbar navbar-expand-lg border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="bi bi-tools"></i>
            NT Tools
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% for (let navbarLink of navbarLinks) { %>
                    <li class="nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           href="<%= navbarLink.href %>">
                            <%= navbarLink.name %>
                        </a>
                    </li>
                <% } %>
            </ul>

            <span class="ms-auto" x-data="{isDark: $store.theme.value === 'dark'}">
                <button :class="{'btn btn-light': !isDark, 'btn btn-dark': isDark}"
                        x-data @click="() => {$store.theme.toggle(); isDark = !isDark}">
                    <i class="bi bi-brightness-high-fill"
                       x-data x-show="!isDark"></i>
                    <span x-data x-show="!isDark">
                        Light
                    </span>
                    <i class="bi bi-moon-stars-fill"
                       x-data x-show="isDark"></i>
                    <span x-data x-show="isDark">
                        Dark
                    </span>
                </button>
            </span>
        </div>
    </div>
</nav>