<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Color tools</title>

    <%- include(rootPath + '/common/ejs/head-link-end-script'); %>
    <script src="js/easy.qrcode.min.js"></script>
    <link rel="stylesheet" href="css/qr-code-generator.css">
</head>
<body x-data :data-bs-theme="$store.theme.value">

<%- include(rootPath + '/common/ejs/nav-bar-with-data', {navbarLinks: [{"name": "QR Code tools", "href": "/qr-code-tools"}]}) %>

<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="d-flex justify-content-between mb-3">
                <button @click="$store.qrCode.changeType(QrCodeType.TEXT)"
                        class="btn"
                        :class="$store.qrCode.isType(QrCodeType.TEXT) ? 'btn-secondary' : 'btn-outline-secondary'">
                    <i class="bi bi-file-earmark-text"></i>
                    TEXT
                </button>
                <button @click="$store.qrCode.changeType(QrCodeType.URL)"
                        class="btn"
                        :class="$store.qrCode.isType(QrCodeType.URL) ? 'btn-secondary' : 'btn-outline-secondary'">
                    <i class="bi bi-link"></i>
                    URL
                </button>
                <button @click="$store.qrCode.changeType(QrCodeType.EMAIL)"
                        class="btn"
                        :class="$store.qrCode.isType(QrCodeType.EMAIL) ? 'btn-secondary' : 'btn-outline-secondary'">
                    <i class="bi bi-envelope-at"></i>
                    EMAIL
                </button>
                <button @click="$store.qrCode.changeType(QrCodeType.VCARD)"
                        class="btn"
                        :class="$store.qrCode.isType(QrCodeType.VCARD) ? 'btn-secondary' : 'btn-outline-secondary'">
                    <i class="bi bi-person-vcard"></i>
                    VCARD
                </button>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" x-text="$store.qrCode.type">URL</h5>
                    <div class="form-container mt-4">
                        <div class="form-url"
                             x-show="$store.qrCode.isType(QrCodeType.URL)"
                             x-data="getUrlFormData()"
                             x-init="$watch('url', value => validate('url'))">
                            <div class="mb-3">
                                <input type="url" class="form-control"
                                       placeholder="Enter your website URL"
                                       x-model.lazy="url">
                                <span class="text-danger"
                                      x-show="validation.url.message"
                                      x-text="validation.url.message"></span>
                                <button class="w-100 btn btn-success mt-3"
                                        @click="$store.qrCode.changeValueAndGenerateQrCode(url)">
                                    Generate QR Code
                                </button>
                            </div>
                        </div>

                        <div class="form-text" x-show="$store.qrCode.isType(QrCodeType.TEXT)">
                            <div class="mb-3"
                                 x-data="{text: ''}">
                                <textarea class="form-control"
                                          placeholder="Enter your text"
                                          x-model.lazy="text"
                                          rows="2"></textarea>

                                <button class="w-100 btn btn-success mt-3"
                                        @click="$store.qrCode.changeValueAndGenerateQrCode(text)">
                                    Generate QR Code
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 d-flex justify-content-center">
            <div id="qr-code-image"></div>
        </div>
    </div>
</div>

<script src="/common/js/index.js"></script>
<script src="js/qr-code-generator.js"></script>
</body>
</html>